@charset "utf-8";

@media(min-width:991px){
 header {width:100%; height:auto;  display:flex; align-items:center; position:absolute; top:0; left:0; z-index:3; background-color:#fff; }
 #top-container {width:100%; height:60px; padding:15px; margin: 0 auto; display:flex; align-items:center; justify-content:center;}
 #logo {width:100%; height:52px;   border-radius:15px; overflow:hidden;} 

 #logo > a > img{width:100%; height:100%; opacity:0.9;}

 nav {width:70%; height:44px;}
 nav ul {width:100%; height:45px;  display:flex;  justify-content:flex-end; }
 nav li {width:74px; height:44px; font-size:16px; margin:15px 0 0 15px; font-family:"Roboto", arial, sans-serif; color:green; font-weight:bold; }
 nav > ul > li > a {color: #000; font-weight:bold;}
 nav > ul > li > a:hover {color:green; } 
 .nav-btn {border:2px solid #666; color:#666; font-weight:bold; width:123px; height:44px;  padding: 10px 0 0 15px; margin:0 0 0 10px; border-radius:7px; }
 .nav-btn:hover {background-color:green; color:#fff; border:0; padding:12px 0 0 15px;}

 .nav {display:block;}
 .burger{display:none;}

/* 푸터 시작 */
#footer-section {width:100%; height:auto; background-color:#eee; display:flex; flex-direction:column; align-items:center;}

/*푸터 네비부분*/
#footer-section > .container {width:100%; height:auto; padding:50px 0 0 0;}
#footer-section > .container > .row {width:100%; height:297px;  display:flex; justify-content:center;}
#footer-section > .container > .row > .footer-row {width:285px; height:249px; }
#footer-section > .container > .row > .footer-row > ul {width:255px; height:145px; }
#footer-section > .container > .row > .footer-row > ul > li {line-height:28px; }
#footer-section > .container > .row > .footer-row > ul > li > a {color:#666; }

/*푸터 장소, 전화번호 등 소개부분 */
#footer-section > .container > .row > .footer-row > .box {width:222px; height:86px;  }

#footer-section > .container > .row > .footer-row > .box > .top {width:222px; height:28px;  display:flex;}
#footer-section > .container > .row > .footer-row > .box > .top >.imgbox {width:22px; height:22px; border-radius:5px; overflow:hidden; margin:0 10px 0 0; }
#footer-section > .container > .row > .footer-row > .box > .top >.imgbox > img {width:100%; height:100%;  }
#footer-section > .container > .row > .footer-row > .box > .top {color:#666; font-weight:bold;}
#footer-section > .container > .row > .footer-row > .box > .middle {width:222px; height:45px; color:#666;}

/*푸터 이메일 쓰는 부분*/
#footer-section > .container > .row > .footer-row > p {color:#666; margin:0 0 2% 0;}
#footer-section > .container > .row > .footer-row > form > .form {width:60%; height:50px;  display:flex; }
#footer-section > .container > .row > .footer-row > form > .form > input {width:80%; height:50px; border-radius:5px; border:1px solid #666;}
#footer-section > .container > .row > .footer-row > form > .form > .btn {width:20%; height:50px; border:none; }
#footer-section > .container > .row > .footer-row > form > .form > .btn > img {width:100%; height:100%; opacity:0.3; border:none;}

#footer-section > .bottom {width:100%; height:96px;  display:flex; justify-content:center;}
#footer-section > .bottom > .text {width:760px; height:32px;  color:#666;}

#footer-section > .bottom > .photo {width:379px; height:32px; display:flex; justify-content:center;}
#footer-section > .bottom > .photo > a {width:28px; height:28px;  margin:0 10px 0 0;}
#footer-section > .bottom > .photo > a > img {width:100%; height:100%; opacity:0.5 }
#footer-section > .bottom > .photo > .small {width:30px; height:32px;}
}
